<%= simple_form_for user, url: admin_user_path(user), role: "form", html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.input :name, class: "form-control", placeholder: "Bob Smith" %>
  </div>

  <div class="form-group">
    <%= f.input :email, class: "form-control", placeholder: "example@example.com" %>
  </div>

  <div class="checkbox">
    <%= f.input :admin %>
  </div>
  <%= f.submit user.new_record? ? "Add User" : "Save User", class: "btn btn-default", disable_with: "Saving" %>
<% end %>